[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "chemdeg"]
	path = chemdeg
	url = https://github.com/migliomatte/chemdeg
	shallow = true
	registered = true
